In [31]:
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline


from data import get_data
from time import time
import joblib

In [12]:
def get_datas(urls, sheets, types):
    data = ""
    t0 = time()
    a = []
    i = 0
    for s in sheets:
        s = pd.read_excel(urls, sheet_name=s)
        s = s[[types, 'description']]
        s['description'] = s['description'].str.lower()
        if i == 0:
            data = s.copy()
        else:
            data = pd.concat([data, s], ignore_index=True)
        i += 1
    data.columns = ['target', 'data']
    data['target'] = data['target'].apply(str)
    load_time = time() - t0
    print("Load dataset time:  %0.3fs" % load_time)

    return data

## Get Data

In [43]:
import pandas as pd

def loads_dataset(urls, sheets):
    data = ""
    t0 = time()
    a = []
    i = 0
    for s in sheets:
        df = pd.read_excel(urls, sheet_name=s)
        df = df[[ 'description','section','chapter','heading','sub-heading','tariff']]
        df['section'] = df['section'].map('{:02}'.format)
        df['chapter'] = df['chapter'].map('{:02}'.format)
    #s['heading'] = s['heading'].apply('{:04}'.format)
    #s['sub-heading'] = s['sub-heading'].map('{:06}'.format)
    #s['tariff'] = s['tariff'].map('{:08}'.format)
        df['description'] = df['description'].str.lower()
    
        if i == 0:
            data = df.copy()
        else:
            data = pd.concat([data, df], ignore_index=True)
        i += 1
        print("Load Data.. "+s+" success")
   # data.columns = ['target', 'data']
  #  data['target'] = data['target'].apply(str)
        load_time = time() - t0
        print("Load dataset time:  %0.3fs" % load_time)

    return data

In [14]:
urls = 'data/hs_code.xlsx'
types = 'section'

sheets = ['8_digit','6_digit','4_digit','2_digit', 'test_01', 'Declaration_2019_10']

df = loads_dataset(urls, sheets)
df.sample(10)

Load Data.. 8_digit success
Load dataset time:  17.907s
Load Data.. 6_digit success
Load dataset time:  36.502s
Load Data.. 4_digit success
Load dataset time:  55.271s
Load Data.. 2_digit success
Load dataset time:  72.734s
Load Data.. test_01 success
Load dataset time:  90.704s
Load Data.. Declaration_2019_10 success
Load dataset time:  108.621s

,description,section,chapter,heading,sub-heading,tariff
33649,adjuster unitrfrt seat da6t88h00a,20,94,9401,940190,94019039
11908,"epoxides, epoxyalcohols, epoxyphenols and epox...",06,29,2910,291090,NaN
22553,"india & bible paper, weigh < 40 g/m2, n/o 10% ...",10,48,4802,480254,48025420
20203,guaifenesin,06,29,2909,290949,29094905
15971,"apples, pears and quinces; fresh",02,08,808,NaN,NaN
24024,"rec perf outwear, men's/boys' anoraks, wind-br...",11,62,6201,620199,62019915
4769,"fabrics, woven; unbleached or bleached, contai...",11,55,5516,551641,55164100
42235,automotive batteries type n 50 zl pp with handle,16,85,8507,850710,85071099
35323,air conditioner parts insulation comp. part no...,07,39,3926,392690,39269099
13800,sacks and bags; of a kind used for the packing...,11,63,6305,630532,NaN

In [15]:
len(df)

49136

In [16]:
df.describe()

       description section chapter  heading  sub-heading    tariff
count        49136   49136   49136    49040        47819     42461
unique       46204      21      96     2475        10784     22744
top        adapter      15      76     7610       761010  76101090
freq            17   10406    6585     5312         4319      3050

In [17]:
#save the DataFrame
print("Save DataFrame")

joblib.dump(df, 'data/df_master_train.pkl', compress=1)
print('success')

Save DataFrame
success

In [2]:
urls = 'data/hs_code.xlsx'
types = 'section'

sheets = ['8_digit','6_digit','4_digit','2_digit', 'test_01', 'Declaration_2019_10']

df = get_data(urls,sheets,types)
print(len(df))
df.sample(10)

Load dataset time:  126.454s
49137

      target                                               data
9418      17  vehicles; with both sparkignition internal com...
47631     17  accessory parts part number 08413b1010 toyota ...
3825       9  wood; charcoal of wood other than bamboo (incl...
45600     16                                assy shelf glassref
8386      16  transformers; n.e.c. in item no. 8504.2, havin...
49         1  meat; of bovine animals, cuts with bone in (ex...
8382      16  transformers; n.e.c. in item no. 8504.2, havin...
163        1  fish; fresh or chilled, southern bluefin tunas...
6245      15                     steel, stainless; wire - other
33248     15                          arm/baserwindow 1d0058560

##  Create Model

In [32]:
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline
import pandas as pd

from data import get_data
from time import time
import joblib
%config InlineBackend.figure_format='retina'
print(f'pandas version:  {pd.__version__}')
pd.Timestamp.now()

pandas version:  1.0.5

Timestamp('2020-11-22 02:21:25.114899')

In [33]:
def clean_str(string):
    """
    Tokenization/string cleaning for dataset
    Every dataset is lower cased except
    """
    string = re.sub(r"\n", "", string)    
    string = re.sub(r"\r", "", string) 
    string = re.sub(r"[0-9]", "digit", string)
    string = re.sub(r"\'", "", string)    
    string = re.sub(r"\"", "", string)    
    string = re.sub(r"<", "", string)
    return string.strip().lower()

In [35]:
import re 
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.svm import LinearSVC
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.multiclass import OneVsRestClassifier
from sklearn.metrics import confusion_matrix, accuracy_score

def create_model(df,names):
    X = []
    for i in range(len(df)):
        X.append(clean_str(df.iloc[i][1]))
    
    y = np.array(df["target"])
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=5)



    print("pipeline of feature engineering and model")
    model = Pipeline([('vectorizer', CountVectorizer()),
    ('tfidf', TfidfTransformer()),
    ('clf', OneVsRestClassifier(LinearSVC(class_weight="balanced")))])

    print("paramater selection")


    parameters = {'vectorizer__ngram_range': [(1, 1), (1, 2),(2,2)],
               'tfidf__use_idf': (True, False)}

    print("Training: ")
   
    t0 = time()
    gs_clf_svm = GridSearchCV(model, parameters, n_jobs=-1)
    gs_clf_svm = gs_clf_svm.fit(X, y)
    print(gs_clf_svm.best_score_)
    print(gs_clf_svm.best_params_)

    model = Pipeline([('vectorizer', CountVectorizer(ngram_range=(1,2))),
    ('tfidf', TfidfTransformer(use_idf=True)),
    ('clf', OneVsRestClassifier(LinearSVC(class_weight="balanced")))])

#fit model with training data
    model.fit(X_train, y_train)

    pred = model.predict(X_test)

    print(accuracy_score(y_test, pred))

#save the model
    print("Save Model")

    joblib.dump(model, 'data/model/model_'+names +'.pkl', compress=1)
    print("Create Model.. "+names+" success")


    print (classification_report(y_test, pred))

In [19]:
import re
def clean_string(string,chars=None):
    """
    Cleans a ticker for easier use throughout MoneyTree

    Splits by space and only keeps first bit. Also removes
    any characters that are not letters. Returns as lowercase. / uppercase

    >>> clean_ticker('^VIX')
    'vix'
    >>> clean_ticker('SPX Index')
    'spx'
    """
    pattern = re.compile('[\W_+,\s]')
    #res = pattern.sub('', ticker.split(' ')[0])
   
    res = pattern.sub('', string)
    #print(res)
    if chars =='upper':
        return res.upper()
    else:
        return res.lower()
  



    def clean_strings(strings):
        """
        Maps clean_ticker over tickers. (แยก ticker ออกมาทีละ 1 digit)
        """
        return [clean_string(x) for x in strings]

In [7]:


def create_main_model( types):
    data = ""
    t0 = time()
    a = []
    i = 0
    
    df = joblib.load('data/train/df_master_train.pkl')
    print("download dta...") 
       
    df = df[[types, 'description']]   
        
       
    df.columns = ['target', 'data']
    n = df.isnull().sum()
    print("missing values : ", n )
    df.dropna(inplace=True)
    df['target'] = df['target'].apply(int)
    print("Load Data.. "+types+" success")
        
        #save the data train
    print("Save data train")
    create_model(df,types)
    
    load_time = time() - t0
    print("Load dataset time:  %0.3fs" % load_time)

In [34]:


def create_data( sheets, types):
    data = ""
    t0 = time()
    a = []
    i = 0
    for s in sheets:
        df = joblib.load('data/train/df_master_train.pkl')
        print("download data...")
        df = df[df['section'] ==s]
       
        df = df[[types, 'description']]
       # df['description'] = df['description'].str.lower()
        
       
        df.columns = ['target', 'data']
        n = df.isnull().sum()
        print("missing values : ", n )
        df.dropna(inplace=True)
        df['target'] = df['target'].apply(int)
        print("Load Data.. "+s+" success")
        
        #save the data train
        print("Save data train")

        joblib.dump(df, 'data/train/df_master_'+s +'.pkl', compress=1)
        print("Save datatable.. "+s+" success")

    
        create_model(df,s)
    
    load_time = time() - t0
    print("Load dataset time:  %0.3fs" % load_time)

In [21]:
types = "section"

create_main_model( types)

NameError: name 'create_main_model' is not defined

### Create data & Model

In [36]:
#['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
 #      '12', '13', '14', '15', '16', '17', '18', '19', '20', '21']
    
types = "heading"
sheets = [ '18', '19', '20', '21']

create_data(sheets, types)

download data...
missing values :  target    3
data      0
dtype: int64
Load Data.. 18 success
Save data train
Save datatable.. 18 success
pipeline of feature engineering and model
paramater selection
Training:
0.8741619524054419
{'tfidf__use_idf': True, 'vectorizer__ngram_range': (1, 2)}
0.8979591836734694
Save Model
Create Model.. 18 success
              precision    recall  f1-score   support

        9001       1.00      1.00      1.00         1
        9004       1.00      0.50      0.67         2
        9005       1.00      1.00      1.00         3
        9006       0.86      1.00      0.92         6
        9007       1.00      1.00      1.00         1
        9008       1.00      1.00      1.00         2
        9010       1.00      1.00      1.00         2
        9011       1.00      0.50      0.67         2
        9013       1.00      0.80      0.89         5
        9014       1.00      0.67      0.80         3
        9015       1.00      1.00      1.00         2
        9016       1.00      1.00      1.00         2
        9017       0.00      0.00      0.00         1
        9018       1.00      0.83      0.91         6
        9019       0.00      0.00      0.00         0
        9021       1.00      1.00      1.00         2
        9022       1.00      1.00      1.00         3
        9023       0.50      1.00      0.67         1
        9024       1.00      1.00      1.00         4
        9025       0.50      0.50      0.50         2
        9026       0.83      0.71      0.77         7
        9027       1.00      1.00      1.00         4
        9028       0.83      1.00      0.91         5
        9029       0.67      0.67      0.67         3
        9030       1.00      1.00      1.00         9
        9031       0.91      0.91      0.91        11
        9032       0.69      0.75      0.72        12
        9033       0.50      1.00      0.67         2
        9101       1.00      1.00      1.00         7
        9102       1.00      1.00      1.00         2
        9103       1.00      1.00      1.00         2
        9104       1.00      1.00      1.00         1
        9105       1.00      1.00      1.00         4
        9106       1.00      1.00      1.00         1
        9108       1.00      1.00      1.00         2
        9109       1.00      1.00      1.00         1
        9110       0.80      1.00      0.89         4
        9111       1.00      1.00      1.00         3
        9113       1.00      1.00      1.00         2
        9114       1.00      1.00      1.00         4
        9201       1.00      1.00      1.00         1
        9202       1.00      1.00      1.00         2
        9205       1.00      1.00      1.00         1
        9206       1.00      0.50      0.67         2
        9207       1.00      1.00      1.00         1
        9209       1.00      1.00      1.00         4

    accuracy                           0.90       147
   macro avg       0.89      0.88      0.87       147
weighted avg       0.91      0.90      0.90       147

download data...
missing values :  target    1
data      0
dtype: int64
Load Data.. 19 success
Save data train
Save datatable.. 19 success
pipeline of feature engineering and model
paramater selection
Training:
0.9764705882352942
{'tfidf__use_idf': False, 'vectorizer__ngram_range': (1, 2)}
1.0
Save Model
Create Model.. 19 success
              precision    recall  f1-score   support

        9303       1.00      1.00      1.00         2
        9304       1.00      1.00      1.00         1
        9305       1.00      1.00      1.00         4
        9306       1.00      1.00      1.00         2

    accuracy                           1.00         9
   macro avg       1.00      1.00      1.00         9
weighted avg       1.00      1.00      1.00         9

download data...
missing values :  target    3
data      0
dtype: int64
Load Data.. 20 success
Save data train
Save datatable.. 20 success
pipeline of feature engineering and model
paramater selection
Training:
0.9133333333333334
{'tfidf__use_idf': True, 'vectorizer__ngram_range': (1, 2)}
0.9809523809523809
Save Model
Create Model.. 20 success
              precision    recall  f1-score   support

        9401       1.00      1.00      1.00        18
        9403       0.94      1.00      0.97        16
        9404       1.00      1.00      1.00         6
        9405       1.00      1.00      1.00         9
        9503       1.00      0.50      0.67         2
        9504       1.00      1.00      1.00         3
        9505       0.75      1.00      0.86         3
        9506       1.00      0.86      0.92         7
        9507       1.00      1.00      1.00         6
        9508       1.00      1.00      1.00         1
        9601       1.00      1.00      1.00         1
        9603       1.00      1.00      1.00         4
        9604       1.00      1.00      1.00         1
        9605       1.00      1.00      1.00         1
        9606       1.00      1.00      1.00         4
        9607       1.00      1.00      1.00         2
        9608       1.00      1.00      1.00         6
        9609       1.00      1.00      1.00         3
        9612       1.00      1.00      1.00         2
        9613       1.00      1.00      1.00         2
        9615       1.00      1.00      1.00         2
        9616       1.00      1.00      1.00         3
        9618       1.00      1.00      1.00         1
        9619       1.00      1.00      1.00         2

    accuracy                           0.98       105
   macro avg       0.99      0.97      0.98       105
weighted avg       0.98      0.98      0.98       105

download data...
missing values :  target    1
data      0
dtype: int64
Load Data.. 21 success
Save data train
Save datatable.. 21 success
pipeline of feature engineering and model
paramater selection
Training:
0.9666666666666668
{'tfidf__use_idf': True, 'vectorizer__ngram_range': (1, 1)}
1.0
Save Model
Create Model.. 21 success
              precision    recall  f1-score   support

        9702       1.00      1.00      1.00         1
        9703       1.00      1.00      1.00         2
        9705       1.00      1.00      1.00         1

    accuracy                           1.00         4
   macro avg       1.00      1.00      1.00         4
weighted avg       1.00      1.00      1.00         4

Load dataset time:  21.799s

In [6]:
#['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
 #      '12', '13', '14', '15', '16', '17', '18', '19', '20', '21']

lst =[ '01', '02']

for x in lst:
    names = x
    df = joblib.load('data/train/df_master_train.pkl')
    
    df[df['target'] == f'{x}']
    
    #save the DataFrame
    
    joblib.dump(df, 'data/train/df_master_'+x+'.pkl', compress=1)
    print("Save DataFrame")   
    create_model(df,names)
    print('success')

Save DataFrame
pipeline of feature engineering and model
paramater selection
Training:
0.8787852808408421
{'tfidf__use_idf': True, 'vectorizer__ngram_range': (1, 2)}
0.9354904354904355
Save Model
              precision    recall  f1-score   support

           1       0.99      0.99      0.99       180
          10       0.94      0.95      0.95        85
          11       0.98      0.98      0.98       403
          12       0.98      0.91      0.94        45
          13       0.95      0.92      0.94       104
          14       0.91      0.89      0.90        55
          15       0.97      0.96      0.96      1039
          16       0.90      0.93      0.91       855
          17       0.86      0.91      0.88       518
          18       0.94      0.89      0.92       147
          19       1.00      0.88      0.93         8
           2       0.99      1.00      0.99       155
          20       0.89      0.90      0.89       109
          21       1.00      1.00      1.00         4
           3       1.00      0.97      0.98        29
           4       0.96      0.95      0.96       198
           5       0.95      0.95      0.95        77
           6       0.96      0.94      0.95       506
           7       0.88      0.82      0.85       280
           8       0.92      0.90      0.91        40
           9       0.97      0.99      0.98        77

    accuracy                           0.94      4914
   macro avg       0.95      0.93      0.94      4914
weighted avg       0.94      0.94      0.94      4914

Save DataFrame
pipeline of feature engineering and model
paramater selection
Training:
0.8787852808408421
{'tfidf__use_idf': True, 'vectorizer__ngram_range': (1, 2)}
0.9354904354904355
Save Model
              precision    recall  f1-score   support

           1       0.99      0.99      0.99       180
          10       0.94      0.95      0.95        85
          11       0.98      0.98      0.98       403
          12       0.98      0.91      0.94        45
          13       0.95      0.92      0.94       104
          14       0.91      0.89      0.90        55
          15       0.97      0.96      0.96      1039
          16       0.90      0.93      0.91       855
          17       0.86      0.91      0.88       518
          18       0.94      0.89      0.92       147
          19       1.00      0.88      0.93         8
           2       0.99      1.00      0.99       155
          20       0.89      0.90      0.89       109
          21       1.00      1.00      1.00         4
           3       1.00      0.97      0.98        29
           4       0.96      0.95      0.96       198
           5       0.95      0.95      0.95        77
           6       0.96      0.94      0.95       506
           7       0.88      0.82      0.85       280
           8       0.92      0.90      0.91        40
           9       0.97      0.99      0.98        77

    accuracy                           0.94      4914
   macro avg       0.95      0.93      0.94      4914
weighted avg       0.94      0.94      0.94      4914

Save DataFrame
pipeline of feature engineering and model
paramater selection
Training:
0.8787852808408421
{'tfidf__use_idf': True, 'vectorizer__ngram_range': (1, 2)}
0.9354904354904355
Save Model
              precision    recall  f1-score   support

           1       0.99      0.99      0.99       180
          10       0.94      0.95      0.95        85
          11       0.98      0.98      0.98       403
          12       0.98      0.91      0.94        45
          13       0.95      0.92      0.94       104
          14       0.91      0.89      0.90        55
          15       0.97      0.96      0.96      1039
          16       0.90      0.93      0.91       855
          17       0.86      0.91      0.88       518
          18       0.94      0.89      0.92       147
          19       1.00      0.88      0.93         8
           2       0.99      1.00      0.99       155
          20       0.89      0.90      0.89       109
          21       1.00      1.00      1.00         4
           3       1.00      0.97      0.98        29
           4       0.96      0.95      0.96       198
           5       0.95      0.95      0.95        77
           6       0.96      0.94      0.95       506
           7       0.88      0.82      0.85       280
           8       0.92      0.90      0.91        40
           9       0.97      0.99      0.98        77

    accuracy                           0.94      4914
   macro avg       0.95      0.93      0.94      4914
weighted avg       0.94      0.94      0.94      4914

## Test Model

In [26]:
import joblib

def test_model(txt):
    print(txt)
    model_main = joblib.load('data/model/model_section.pkl')
    products = txt  # Video game consoles : 95
    p = model_main.predict([products])[0] 
    
    if p <10:
        a = str(p)
        a = ("0"+a)
    else:
        a = str(p)
    print(a)
    model_2 = joblib.load('data/model/model_'+a+'.pkl')
    predicts = model_2.predict([products])[0]  
    print(predicts)
    return predicts

In [36]:
txt = "Hydrogen"  # FISH OIL - 03 - 1504

test_model(txt)

Hydrogen
06
2804

In [ ]:
# Tobacco refuse -  4 - 2401
# Hydrogen - 06 -2804

In [11]:
import joblib
print("Load Model")
model = joblib.load('data/model/model_03.pkl')
products = input()  # Video game consoles : 95

Load Model
FISH OIL

In [12]:
model.predict([products])[0]  # Vanilla : 02

1504

In [3]:
urls = 'data/hs_code.xlsx'
types = 'section'

In [37]:
import re 
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.svm import LinearSVC
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.multiclass import OneVsRestClassifier
from sklearn.metrics import confusion_matrix, accuracy_score

In [38]:
def get_test( urls,sheets):
    data = ""
    t0 = time()
    a = []
    i = 0
    
    data = pd.read_excel(urls, sheet_name=sheets)
    data = data[[ 'heading', 'description']]
    data['description'] = data['description'].str.lower()
 
    data.columns = ['target', 'data']
    #data['target'] = data['target'].apply(str)
    load_time = time() - t0
    print("Load dataset time:  %0.3fs" % load_time)

    return data

In [39]:
import joblib

def test_model_list(txt):
    
    model_main = joblib.load('data/model/model_section.pkl')
    products = txt  # Video game consoles : 95
    p = model_main.predict([products])[0] 
    
    if p <10:
        a = str(p)
        a = ("0"+a)
    else:
        a = str(p)
   
    model_2 = joblib.load('data/model/model_'+a+'.pkl')
    predicts = model_2.predict([products])[0]          
        
    return predicts

In [45]:
%%time

from data import get_data

#model = joblib.load('data/model/model_section.pkl')
urls = 'data/hs_code.xlsx'
sheets= 'test'
types = 'heading'

df = get_test(urls, sheets)
df.dropna(inplace=True)
data_test = df.data
data_targets = df.target
d = []
t = []
r = []
c = []
for i in range(len(data_test)):
    results = test_model_list(data_test[i])
    d.append(data_test[i])
    t.append(data_targets[i])
    r.append(results)
    if results ==data_targets[i]:
        c.append(1)
    else:
        c.append(0)

data = [d,t,r,c]
df = pd.DataFrame(data)
df

Load dataset time:  17.893s
Wall time: 4min 49s

,0,1,2,3,4,5,6,7,8,9,...,352,353,354,355,356,357,358,359,360,361
0,"coke and semi-coke; of coal, lignite or peat, ...","coal gas, water gas, producer gas and similar ...","tar distilled from coal, from lignite, peat an...",oils and other products of the distillation of...,pitch and pitch coke; obtained from coal tar o...,petroleum oils and oils obtained from bitumino...,"petroleum oils, oils from bituminous minerals,...",petroleum gases and other gaseous hydrocarbons,"petroleum jelly; paraffin wax, micro-crystalli...","petroleum coke, petroleum bitumen; other resid...",...,"foliage, branches and other parts of plants, w...",potatoes; fresh or chilled,tomatoes; fresh or chilled,"onions, shallots, garlic, leeks and other alli...","cabbages, cauliflowers, kohlrabi, kale and sim...",lettuce (lactuca sativa) and chicory (cichoriu...,"carrots, turnips, salad beetroot, salsify, cel...",cucumbers and gherkins; fresh or chilled,"leguminous vegetables; shelled or unshelled, f...","vegetables, n.e.s. in chapter 07; fresh or chi..."
1,2704,2705,2706,2707,2708,2709,2710,2711,2712,2713,...,604,701,702,703,704,705,706,707,708,709
2,2704,2705,2706,2707,2708,2709,2710,2711,2712,2713,...,604,701,702,703,704,705,706,707,708,709
3,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [48]:
zippedList =  list(zip(d,t,r,c))
df = pd.DataFrame(zippedList, columns = ['data' , 'target', 'result','check']) 
df

                                                  data  target  result  check
0    coke and semi-coke; of coal, lignite or peat, ...  2704.0    2704      1
1    coal gas, water gas, producer gas and similar ...  2705.0    2705      1
2    tar distilled from coal, from lignite, peat an...  2706.0    2706      1
3    oils and other products of the distillation of...  2707.0    2707      1
4    pitch and pitch coke; obtained from coal tar o...  2708.0    2708      1
..                                                 ...     ...     ...    ...
357  lettuce (lactuca sativa) and chicory (cichoriu...   705.0     705      1
358  carrots, turnips, salad beetroot, salsify, cel...   706.0     706      1
359           cucumbers and gherkins; fresh or chilled   707.0     707      1
360  leguminous vegetables; shelled or unshelled, f...   708.0     708      1
361  vegetables, n.e.s. in chapter 07; fresh or chi...   709.0     709      1

[362 rows x 4 columns]

In [50]:
df['check'].count()

362

In [ ]:
df pd.DataFrame(zippedList, columns = ['data','target','result'],dtype=float)
df, index=['a', 'b', 'c'])

In [ ]:
list(zip(listOfNames, listOfAge, listOfCity))

In [3]:
import joblib
import os

%time df = joblib.load('data/train/df_master_train.pkl')

print(len(df))
df.sample(10)

Wall time: 346 ms
49136

,description,section,chapter,heading,sub-heading,tariff
571,"plants, live; bulbs, tubers, tuberous roots, c...",02,06,0601,060110,06011000
3856,"wood; of poplar and aspen (populus spp.), in t...",09,44,4403,440397,44039790
6593,"copper; wire, of copper alloys (other than cop...",15,74,7408,740829,74082900
11081,"spices; cloves (whole fruit, cloves and stems)...",02,09,0907,090710,NaN
23429,"woven fabrics of artificial staple fibers, < 8...",11,55,5516,551633,55163305
29237,assy pcb mainoutdoora3050175142pf1,16,85,8537,853710,85371099
5917,"jewellery; imitation, (excluding cuff links an...",14,71,7117,711719,71171920
13444,"fabrics; woven pile, of cotton, cut corduroy, ...",11,58,5801,580122,NaN
14630,boilers; parts of steam or other vapour genera...,16,84,8402,840290,NaN
32697,assy m. wire harnessctpjtgood 6 kgco,16,84,8418,841899,84189990

In [12]:
x= "1"
df[df['target'] == f'{x}']
df

      target                                               data
0          1  horses; live, purebred breeding animals - pure...
1          1  horses; live, other than purebred breeding ani...
2          1                                asses; live - other
3          1                    mules and hinnies; live-  other
4          1  cattle; live, purebred breeding animals - pure...
...      ...                                                ...
49132     15                           adjust gear set jfkz658b
49133     15                aluminium window frame kf057072avat
49134      7                   acrylic plate 4mm. size24x24 cm.
49135     16                      ac power cord p/n 141102240p6
49136     17     automotive disc brake pads 220177988 db24114wd

[49137 rows x 2 columns]

In [27]:
df = joblib.load('data/train/df_master_train.pkl')

df.head()

,description,section,chapter,heading,sub-heading,tariff
0,"horses; live, purebred breeding animals - pure...",01,01,0101,010121,01012100
1,"horses; live, other than purebred breeding ani...",01,01,0101,010129,01012900
2,asses; live - other,01,01,0101,010130,01013090
3,mules and hinnies; live- other,01,01,0101,010190,01019000
4,"cattle; live, purebred breeding animals - pure...",01,01,0102,010221,01022100

In [28]:
s = '90MM'
df[df['heading'] ==s]

,description,section,chapter,heading,sub-heading,tariff
10167,trade broken down at chapter level only,18,90,90MM,90MMM0,90MMM0MM
15690,trade broken down at chapter level only,18,90,90MM,90MMM0,NaN

In [29]:
df.drop(df[df.heading == '90MM'].index, inplace=True)
df

,description,section,chapter,heading,sub-heading,tariff
0,"horses; live, purebred breeding animals - pure...",01,01,0101,010121,01012100
1,"horses; live, other than purebred breeding ani...",01,01,0101,010129,01012900
2,asses; live - other,01,01,0101,010130,01013090
3,mules and hinnies; live- other,01,01,0101,010190,01019000
4,"cattle; live, purebred breeding animals - pure...",01,01,0102,010221,01022100
...,...,...,...,...,...,...
49131,adjust gear set jfkz658b,15,83,8302,830241,83024190
49132,aluminium window frame kf057072avat,15,76,7610,761010,76101090
49133,acrylic plate 4mm. size24x24 cm.,07,39,3926,392690,39269099
49134,ac power cord p/n 141102240p6,16,85,8544,854411,85441190
49135,automotive disc brake pads 220177988 db24114wd,17,87,8708,870830,87083090

In [30]:
joblib.dump(df, 'data/train/df_master_train.pkl', compress=1)
print("Save datatable.. "+s+" success")

Save datatable.. 90MM success

In [17]:
df.isnull().sum()

description       0
section           0
chapter           0
heading          96
sub-heading    1317
tariff         6675
dtype: int64

In [19]:
df.describe()

       description section chapter  heading  sub-heading    tariff
count        49136   49136   49136    49040        47819     42461
unique       46204      21      96     2475        10784     22744
top        adapter      15      76     7610       761010  76101090
freq            17   10406    6585     5312         4319      3050

In [21]:
type(df.heading)

pandas.core.series.Series